
{% extends template.self %}

{% block head %}
    {{ super() }}
    <meta property="og:type" content="website">
    {% if page.opengraphtitle %}
        <meta property="og:title" content="{{ page.opengraphtitle }}">
        <meta name="twitter:title" content="{{ page.opengraphtitle }}">
    {% else %}
        <meta property="og:title" content="{{ page.title }}">
        <meta name="twitter:title" content="{{ page.title }}">
    {% endif %}
    {% if page.opengraphdescription %}
        <meta property="og:description" content="{{ page.opengraphdescription }}">
        <meta name="twitter:description" content="{{ page.opengraphdescription }}">
    {% elif page.description %}
        <meta property="og:description" content="{{ page.description }}">
        <meta name="twitter:description" content="{{ page.description }}">
    {% elif config.pluginsConfig['open-graph'].defaultDescription %}
        <meta property="og:description" content="{{ config.pluginsConfig['open-graph'].defaultDescription }}">
        <meta name="twitter:description" content="{{ config.pluginsConfig['open-graph'].defaultDescription }}">
    {% endif %}
    <meta property="og:determiner" content="the">
    <meta property="og:locale" content="en_US">
    <meta property="og:url" content="{{ config.pluginsConfig['open-graph'].baseURL }}/{{ file.path | replace(config.structure['readme'],'') | replace('index.html.md','') | replace('README.md','') | replace('readme.md','') | replace('.md','.html') | replace('.adoc','.html')}}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@frontendmasters">
    {% if page.opengraphimage %}
        <meta property="og:image" content="{{ config.pluginsConfig['open-graph'].baseURL }}/{{ page.opengraphimage }}">
        <meta name="twitter:image" content="{{ config.pluginsConfig['open-graph'].baseURL }}/{{ page.opengraphimage }}">
    {% elif config.pluginsConfig['open-graph'].defaultImage %}
        <meta property="og:image" content="{{ config.pluginsConfig['open-graph'].baseURL }}/{{ config.pluginsConfig['open-graph'].defaultImage }}">
        <meta name="twitter:image" content="{{ config.pluginsConfig['open-graph'].baseURL }}/{{ config.pluginsConfig['open-graph'].defaultImage }}">
    {% endif %}
{% endblock %}
